<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="header" th:fragment="headerFragment">
        <nav>
            <p class="page-title">web board</p>
            <div class="sign-group">
                <button class="sign-in" id="signIn">signIn</button>
                <button class="sign-up" id="signUp">signUp</button>
            </div>
        </nav>
    </header>
</body>

</html>